.npt-box{
    padding: 10px;
    border: solid #000 1px;
}
.btn-outlite-black{
    border: #000 solid 1px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 10px;
}
a{
    color: #000;
}
a:hover{
    background-color: #000;
    color: #fff;
}