
<div class="container">
  <div class="row gap-3 justify-content-center p-5 flex-column flex-lg-row">
    <div class="col-lg-5 col-12 d-flex flex-column gap-4 align-items-start">
      <h2 class="text-uppercase">register</h2>
      <p class="fw-light">Sign up with</p>
      <div class="col-11 d-flex align-items-center justify-content-between">
        <button
          class="bg-white btn-outlite-black col-6 m-1 d-flex justify-content-between align-items-center"
        >
          Facbook
          <img
            src="https://img.icons8.com/?size=35&id=118497&format=png&color=000000"
            alt=""
          />
        </button>
        <button
          class="bg-white btn-outlite-black col-6 m-1 d-flex justify-content-between align-items-center"
        >
          google
          <img
            src="https://img.icons8.com/?size=35&id=17949&format=png&color=000000"
            alt=""
          />
        </button>
      </div>
      <p class="fw-light">Or</p>

      <form class="col-12 d-flex flex-column gap-4 align-items-start" [formGroup]="userData" (ngSubmit)="register()">
        <div class="d-flex flex-column gap-4 col-11">
         
          <div class="d-flex flex-column gap-3">
            <h4 class="text-uppercase fw-bolder">your name</h4>
            <div class="d-flex flex-column gap-3">
              <div class="d-flex flex-column gap-2">
                <label for="firstName">First name</label>
                <div class="npt-box"><input type="text" formControlName="firstName"/></div>
                @if(userData.controls.firstName.invalid&&(userData.controls.firstName.dirty||userData.controls.firstName.touched)){
                  @if (userData.controls.firstName.errors?.['required']) {
                    <span class="text-danger">first name is required</span>
                  }@if (userData.controls.firstName.errors?.['minlength']) {
                    <span class="text-danger">first name must be at least 5 charcters </span>
                  }
                }
              </div>
              <div class="d-flex flex-column gap-2">
                <label for="lastName">Last name</label>
                <div class="npt-box"><input type="text" formControlName="lastName"/></div>
                @if(userData.controls.lastName.invalid&&(userData.controls.lastName.dirty||userData.controls.lastName.touched)){
                  @if (userData.controls.lastName.errors?.['required']) {
                    <span class="text-danger">last name is required</span>
                  }@if (userData.controls.lastName.errors?.['minlength']) {
                    <span class="text-danger">last name must be at least 5 charcters </span>
                  }
                }
              </div>
              <div class="d-flex flex-column gap-2">
                <label for="gender">Gender</label>
                <div class="d-flex gap-3 align-items-center">
                  <div class="d-flex gap-2">
                    <input type="radio" name="gender" formControlName="gender" value="male"/> Male
                  </div>
                  <div class="d-flex gap-2">
                    <input type="radio" name="gender" formControlName="gender" value="female"/> Female
                  </div>
  
                </div>
                @if(userData.controls.gender.invalid&&(userData.controls.gender.dirty||userData.controls.gender.touched)){
                  @if (userData.controls.gender.errors?.['required']) {
                    <span class="text-danger">gender is required</span>
                  }
                }
              </div>
            </div>
          </div>
          <div class="d-flex flex-column gap-3">
            <h4 class="text-uppercase fw-bolder">LOGIN DETAILS</h4>
            <div class="d-flex flex-column gap-3">
              <div class="d-flex flex-column gap-2">
                <label for="email">Email</label>
                <div class="npt-box"><input type="email" formControlName="email"/></div>
                @if(userData.controls.email.invalid&&(userData.controls.email.dirty||userData.controls.email.touched)){
                  @if (userData.controls.email.errors?.['required']) {
                    <span class="text-danger">email is required</span>
                  }@if (userData.controls.email.errors?.['email']) {
                    <span class="text-danger">invaild email</span>
                  }
                }
              </div>
              <div class="d-flex flex-column gap-2">
                <label for="Phone">Phone</label>
                <div class="npt-box"><input type="tel" formControlName="phone"/></div>
                @if(userData.controls.phone.invalid&&(userData.controls.phone.dirty||userData.controls.phone.touched)){
                  @if (userData.controls.phone.errors?.['required']) {
                    <span class="text-danger">phone is required</span>
                  }@if (userData.controls.phone.errors?.['pattern']) {
                    <span class="text-danger">invaild phone numder</span>
                  }
                }
              </div>
              <div class="d-flex flex-column gap-2">
                <div class="d-flex justify-content-between align-items-center">
                  <label for="password">Password</label>
                  <div>
                    <i class="fa-regular fa-eye"></i> Show
                    <!-- <i class="fa-regular fa-eye-slash"></i> -->
                  </div>
                 
                </div>
                <div class="npt-box"><input type="password" formControlName="password"/></div>
                @if(userData.controls.password.invalid&&(userData.controls.password.dirty||userData.controls.password.touched)){
                  @if (userData.controls.password.errors?.['required']) {
                    <span class="text-danger">Password is required</span>
                  }@if (userData.controls.password.errors?.['minlength']) {
                    <span class="text-danger">password must be at least 8 charcters</span>
                  }
                  @if (userData.controls.password.errors?.['pattern']) {
                    <span class="text-danger">Password must contain uppercase, lowercase, one number and a special character</span>
                  }
                }
              </div>
              <div class="d-flex gap-2">
                <input type="checkbox" /><label for="agree">Yes, I am over 18 years old
                </label>
              </div>
              <p class="fw-bolder">Never miss a thing with adidas personalized ads across digital media! Keep your eyes open for latest adidas promotions, products and news.</p>
              <div class="d-flex gap-2 align-items-start">
                <input type="checkbox" /><label for="agree">Yes, I want to receive the latest adidas offers and product news through ads shown across digital media based on my interactions with adidas and behavior on platforms like Google and Facebook. I know I can choose to stop sharing my personal data at any time.<a> Read more</a>
                </label>
              </div>
            </div>
          </div>
        </div>
        <button class="black-btn d-flex gap-4 align-items-center" type="submit">
          Register <i class="fa-solid fa-arrow-right"></i>
        </button>
      </form>

      <p>
        I have read and accepted <a href="">adiClub Terms & Conditions</a> and
        the <a href="#">adidas Privacy Notice</a>
      </p>
    </div>

    <div class="col-lg-5 col-12 d-flex flex-column gap-3 align-items-start">
      <h2>JOIN ADICLUB. GET REWARDED TODAY.</h2>
      <p>
        As an adiClub member you get rewarded with what you love for doing what
        you love. Sign up today and receive immediate access to these Level 1
        benefits:
      </p>
      <div class="p-2 ps-4 d-flex flex-column gap-2">
        <div class="d-flex align-items-center gap-2">
          <img
            src="https://img.icons8.com/?size=20&id=fVnC5GYxLG15&format=png&color=000000"
            alt=""
          />
          <p class="p-0 m-0">A 10% off voucher for your next purchase</p>
        </div>
        <div class="d-flex align-items-center gap-2">
          <img
            src="https://img.icons8.com/?size=20&id=fVnC5GYxLG15&format=png&color=000000"
            alt=""
          />
          <p class="p-0 m-0">Access to Members Only products and sales</p>
        </div>
        <div class="d-flex align-items-center gap-2">
          <img
            src="https://img.icons8.com/?size=20&id=fVnC5GYxLG15&format=png&color=000000"
            alt=""
          />
          <p class="p-0 m-0">Access to adidas Running and Training apps</p>
        </div>
        <div class="d-flex align-items-center gap-2">
          <img
            src="https://img.icons8.com/?size=20&id=fVnC5GYxLG15&format=png&color=000000"
            alt=""
          />
          <p class="p-0 m-0">Special offers and promotions</p>
        </div>
      </div>
      <p>
        Join now to start earning points, reach new levels and unlock more
        rewards and benefits from adiClub.
      </p>
      <button
        class="black-btn d-flex gap-4 align-items-center"
        [routerLink]="['/login']"
        routerLinkActive="router-link-active"
      >
        Login <i class="fa-solid fa-arrow-right"></i>
      </button>
      <img
        src="https://eu.idp.adidas.com/assets/images/adidas/universal-login/adiclub.jpg"
        class="img-fluid"
      />
    </div>
  </div>
</div>
