<div class="container-fluid p-0 shadow">
  <!-------------------black header--------------------------->
  @if(!isBasic){
  <div
    class="bg-black text-white p-2 d-flex align-items-center justify-content-around"
  >
    <p class="mb-0">FREE DELIVERY OVER 999 EGP</p>
    <p class="mb-0">WELCOME OFFER 10% OFF</p>
    <p class="mb-0">FREE RETURNS</p>
  </div>
  }
  <!-------------------nav header--------------------------->
  <div
    class="navbar navbar-expand-lg bg-white d-flex justify-content-between align-items-center p-3 text-black position-sticky"
  >
  @if(!isBasic){
    <button class="bg-white d-lg-none d-flex">
      <img
        src="https://img.icons8.com/?size=30&id=8113&format=png&color=000000"
        alt=""
      />
    </button>}
   
    <!-- logo -->
    <a class="ps-2 navbar-brand" href="#">
      <div>
        <img
          src="https://www.adidas.com.eg/on/demandware.static/Sites-adidas-EG-Site/-/default/dw5f034c53/images/adidas_logo.svg"
          alt=""
        />
      </div>
    </a>
    @if(!isBasic){
    <!-- nav -->
    <div class="d-lg-flex d-none">
      <ul class="navbar-nav gap-3">

        <a class="nav-link" routerLink="/men"><li class="nav-item fw-bold">MEN</li></a>
        <a class="nav-link" routerLink="/women"><li class="nav-item fw-bold">WOMEN</li></a>
        <a class="nav-link" routerLink="/kids"><li class="nav-item fw-bold">KIDS</li></a>
        <a class="nav-link" href=""><li class="nav-item">SPORTS</li></a>
        <a class="nav-link" routerLink="/kids"href=""><li class="nav-item">LIFESTYLE</li></a>
        <a class="nav-link" routerLink="/dashboard"><li class="nav-item">Dashboard</li></a>
        <a class="nav-link" href=""
          ><li class="nav-item fw-medium text-danger">END OF SEASON SALE</li></a
        >
      </ul>
    </div>

    <div class="d-flex align-items-center gap-3">
      <!-- search bar -->
      <div class="search-bar d-flex align-items-center gap-1 bg-light p-2">
        <input type="text" class="bg-light" placeholder="Search" />
        <img
          src="https://www.adidas.com.eg/on/demandware.static/Sites-adidas-EG-Site/-/default/dwd538eb83/images/search_icon.svg"
          alt=""
        />
      </div>
      <!-- user icon -->
      <div class="d-flex align-items-center gap-3">
        <a [routerLink]="['login']">
          <img
            src="https://www.adidas.com.eg/on/demandware.static/Sites-adidas-EG-Site/-/default/dw3db8cdbf/images/profile.svg"
            alt=""
          />
        </a>
        <img
          src="https://img.icons8.com/?size=28&id=16076&format=png&color=000000"
          alt=""
        />
        <img
          src="https://www.adidas.com.eg/on/demandware.static/Sites-adidas-EG-Site/-/default/dw9785f938/images/bag%20empty.svg"
          alt=""
        />
      </div>
    </div>
  }
  </div>
</div>
