<div class="row">
  <!-- card 1 -->
  <div class="col-3 position-relative">
    <button class="rounded-circle bg-danger text-white d-flex justify-content-center align-items-center position-absolute delete-btn" onclick="showConfirmModal(1)"  ><i class="fa-solid fa-trash"></i></button>
    <img
      src="https://assets.adidas.com/images/w_450,f_auto,q_auto/de437449b951400d9527a793b7e3c4fd_9366/IF6415_01_standard_hover.jpg"
      alt=""
      class="img-fluid"
    />
    <div class="p-2 fw-light fs-13 d-flex flex-column gap-2">
      <p class="m-0">Predator League Fold-Over Tongue Firm Ground Boots Kids</p>
      <p class="fw-normal m-0">EGP 5,999.00</p>
      <p class="text-secondary">Kids 4-8 Years Performance</p>
    </div>
  </div>
  <div class="col-3">
    <img
      src="https://assets.adidas.com/images/w_450,f_auto,q_auto/de437449b951400d9527a793b7e3c4fd_9366/IF6415_01_standard_hover.jpg"
      alt=""
      class="img-fluid"
    />
    <div class="p-2 fw-light fs-13 d-flex flex-column gap-2">
      <p class="m-0">Predator League Fold-Over Tongue Firm Ground Boots Kids</p>
      <p class="fw-normal m-0">EGP 5,999.00</p>
      <p class="text-secondary">Kids 4-8 Years Performance</p>
    </div>
  </div>
  <div class="col-3">
    <img
      src="https://assets.adidas.com/images/w_450,f_auto,q_auto/de437449b951400d9527a793b7e3c4fd_9366/IF6415_01_standard_hover.jpg"
      alt=""
      class="img-fluid"
    />
    <div class="p-2 fw-light fs-13 d-flex flex-column gap-2">
      <p class="m-0">Predator League Fold-Over Tongue Firm Ground Boots Kids</p>
      <p class="fw-normal m-0">EGP 5,999.00</p>
      <p class="text-secondary">Kids 4-8 Years Performance</p>
    </div>
  </div>
  <div class="col-3">
    <img
      src="https://assets.adidas.com/images/w_450,f_auto,q_auto/de437449b951400d9527a793b7e3c4fd_9366/IF6415_01_standard_hover.jpg"
      alt=""
      class="img-fluid"
    />
    <div class="p-2 fw-light fs-13 d-flex flex-column gap-2">
      <p class="m-0">Predator League Fold-Over Tongue Firm Ground Boots Kids</p>
      <p class="fw-normal m-0">EGP 5,999.00</p>
      <p class="text-secondary">Kids 4-8 Years Performance</p>
    </div>
  </div>
  <div class="col-3">
    <img
      src="https://assets.adidas.com/images/w_450,f_auto,q_auto/de437449b951400d9527a793b7e3c4fd_9366/IF6415_01_standard_hover.jpg"
      alt=""
      class="img-fluid"
    />
    <div class="p-2 fw-light fs-13 d-flex flex-column gap-2">
      <p class="m-0">Predator League Fold-Over Tongue Firm Ground Boots Kids</p>
      <p class="fw-normal m-0">EGP 5,999.00</p>
      <p class="text-secondary">Kids 4-8 Years Performance</p>
    </div>
  </div>
</div>
