<div>
<div class="container p-5 ">
   

      <div class="card" style="width: 18rem;">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src={{store.logo}} alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                {{store.name}}
              </a>
            </div>
          </nav>
        <img src={{product.Img}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.Name}}</h5>
          <p class="card-text">ID: {{product.ID}} <br> Quantity: {{product.Quantity}} <br>Price: {{product.Price}} <br>CateogryID: {{product.CateogryID}}</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
</div>
</div>