footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
footer>div{
    width: 80%;
    background: #ea0000;
    display: flex;
    padding: 60px;
    gap:50px;
    color: white;
}