*{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
.black-btn{
    background-color: #000;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    padding: 12px 25px;
    box-shadow:3px 3px 0 #fff ,5px 5px 0 #000;   

}
.black-btn:hover{
    color: #858585;
}
.containar-white-btn{
    border: solid 1px white;
    width:fit-content;
}
.white-btn{
    background-color: #fff;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    padding: 12px 25px;
   transform: translate(-3px,-3px);
    // margin:50px;

}
.white-btn:hover{
    color: #858585;
}

.white-btn-border{
 border: #000 solid 1px;
}