.hero {
  background: url(https://www.adidas.com.eg/dw/image/v2/BFNL_PRD/on/demandware.static/-/Library-Sites-AdidasSharedLibrary/default/dwdaa2a6a8/MENA_Local_Activations/emc-eoss-commercial-ss25-hp-mh-d.jpg);
  background-size: cover;
  height: 40rem;
}

.section2{
  background: url(https://www.adidas.com.eg/dw/image/v2/BFNL_PRD/on/demandware.static/-/Library-Sites-AdidasSharedLibrary/default/dw626e33cc/MENA_Local_Activations/MENA-JAN-FEB-MAR/emc-franchise_toolkit_campus_q1-originals-ss25-launch-hp-mh-d.jpg);
  height: 40rem;
}

.section3>div{
  height: 20rem;
}
.section3>.div1{
background: url(https://www.adidas.com.eg/dw/image/v2/BFNL_PRD/on/demandware.static/-/Library-Sites-AdidasSharedLibrary/default/dw1b2b8d3c/categorytiles_iwp/em-za-categorytiles-hp-men-promoblock.jpg);
background-size: cover;
}
.section3>.div2{
  background: url(https://www.adidas.com.eg/dw/image/v2/BFNL_PRD/on/demandware.static/-/Library-Sites-AdidasSharedLibrary/default/dw222ee5e0/categorytiles_iwp/em-za-categorytiles-hp-women-promoblock.jpg);
background-size: cover;

  }
  .section3>.div3{
    background: url(https://www.adidas.com.eg/dw/image/v2/BFNL_PRD/on/demandware.static/-/Library-Sites-AdidasSharedLibrary/default/dw10514535/categorytiles_iwp/em-za-categorytiles-hp-kids-promoblock.jpg);
background-size: cover;

    }
